@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}

html {
  --primary-color: rgb(92, 106, 196);
  --text-color: rgb(69, 79, 91);
  --background-color: rgb(255, 255, 255);
  --muted-color: rgb(230, 230, 230);

  background-color: var(--background-color);
  color: var(--text-color);
}

header,
footer,
main {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

header,
footer,
main > section,
main > article,
main > nav {
  padding: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main:has(> article) {
  display: flex;
}

main > article {
  max-width: 80%;
  min-width: 0;
  flex: 1 0;
}

main > nav {
  max-width: 20%;
  min-width: 0;
  flex: 0 0 20%;
  font-size: 13px;
  position: sticky;
  top: 0;
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 8px;
  }

  li {
    margin: 8px;
  }

  & > ul {
    border-left: 1px solid var(--muted-color);
  }
}

a,
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  box-shadow: 0 1px 0 0 currentColor;
}

h2[id], h3[id], h4[id], h5[id], h6[id] {
  a,
  a:visited {
    color: var(--text-color);
  }
}

article > p > a > img,
article > p > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

:not(pre) > code {
  background-color: var(--muted-color);
  padding: .125em .25em .125em;
  border-radius: 0.25em;
}

.shiki {
  border-radius: 0.5em;
  background-color: rgb(246, 248, 250)!important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

@media screen and (max-width: 996px) {
  main > nav {
    display: none;
  }

  main > article {
    max-width: 992px;
  }
}
